{% extends 'base.html.twig' %}

{% block title %}Reservar{% endblock %}

{% block body %}
<div class="container">
    <div class="page-content">
        <div id="centrao">
            {{form(form)}}
        </div>
    </div>
</div>
{% endblock %}
