{% extends 'base.html.twig' %}

{% block title %}Juegos{% endblock %}

{% block body %}




                <div class="dialog" id="centrao">
                        
                        
                            
                            <div class="botones">
                                <input type="button" value="borrar juego" class="borrar">
                            </div>
                        
                        </div>

    <div class="most-popular">
        <div class="main-button"><a href='{{url('formuJuegos')}}'>Crear juego  </a></div>
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Descubre</em> nuestros juegos</h4>
                </div>
                
              </div>
            </div>
          </div>
{% endblock %}
