{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{url('main')}}" class="logo">
                        <img src="assets/images/escudo2 (1) (1).png" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Search End ***** -->
                    <div class="search-input">
                      
                        <img src="assets/images/logo xokas y cía.png" id='searchText' name="searchKeyword" />
                        
                      
                    </div>
                    <!-- ***** Search End ***** -->
                    
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="index.html" class="active">Home</a></li>
                        <li><a href="browse.html">Browse</a></li>
                        <li><a href="details.html">Details</a></li>
                        <li><a href="streams.html">Streams</a></li>
                        <li><a href="{{url('perfil')}}">Profile <img src="assets/images/profile-header.jpg" alt=""></a></li>
                    </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>


                <div class="dialog" title="Nueva Mesa">
                        <p>Ancho </p>
                        <input type="text" class="ancho">
                        <p>Alto </p>
                        <input type="text" class="alto">
                            <br>
                            <br>
                            <div class="botones">
                                <input type="submit" value="crear" class="crear">

                                <input type="button" value="cerrar" class="cerrar">
                            </div>
                        
                        </div>

    <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Descubre</em> nuestros juegos</h4>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="/assets/images/anton-zampon.jpg" alt="" height="130px">
                      <h4>AntónZam<br><span>Sandbox</span></h4>
                      <ul>
                        <li><i class="fa fa-user"></i>  1 - 4</li>
                        {# <li><i class="fa fa-download"></i> 2.3M</li> #}
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="/assets/images/nodespiertes.jpg" alt="" height="130px">
                      <h4>No despiertes<br><span>hasbro</span></h4>
                      <ul>
                        <li><i class="fa fa-user"></i> 1 - 4</li>
                        {# <li><i class="fa fa-download"></i> 2.3M</li> #}
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="/assets/images/Cluedo.jpg" alt="" height="130px">
                      <h4>Cluedo<br><span>Hasbro</span></h4>
                      <ul>
                        <li><i class="fa fa-user"></i> 1 - 4</li>
                        {# <li><i class="fa fa-download"></i> 2.3M</li> #}
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="/assets/images/LaOca.jpg" alt="" height="130px">
                      <h4>La Oca<br><span>Francisco I </span></h4>
                      <ul>
                        <li><i class="fa fa-user"></i> 1 - 4 </li>
                        {# <li><i class="fa fa-download"></i> 2.3M</li> #}
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                          <div class="item inner-item">
                            <img src="/assets/images/Parchis.png" alt="" height="130px">
                            <h4>Parchis<br></h4>
                            <ul>
                              <li><i class="fa fa-user"></i> 1 - 4 </li>
                              
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                          <div class="item">
                            <img src="/assets/images/Monopoly.jpg" alt="" height="130px">
                            <h4>Monopoly<br><span>CharlesDarr</span></h4>
                            <ul>
                              <li><i class="fa fa-user"></i> 2-8</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="/assets/images/quienesquien.jpg" alt="" height="130px">
                      <h4>Quién es quién<br><span>Hasbro</span></h4>
                      <ul>
                        <li><i class="fa fa-user"></i> 2</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="/assets/images/NisiNino.jpg" alt="" height="130px">
                      <h4>Ni sí ni no<br><span>megableu</span></h4>
                      <ul>
                        <li><i class="fa fa-user"></i> 1 - 4</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
