


.ui-dialog-titlebar-close { visibility: hidden; }




.tabla{
    border: 5px;
    border-color: white;
}


.juegoP{
    color: white;
    margin: 10px;
    
}

td{
    text-align: center;
    color: white;
}
th{
    text-align: center;
    color: white;
}

.imagenP{
    text-align: center;
}
