{% extends 'base.html.twig' %}

{% block title %}Hello EmailController!{% endblock %}



{% block body %}


   
    <button class="boton">CREAR MESA</button>
        <div class="dialog" title="Nueva Mesa">
           <p>Ancho </p>
           <input type="text" class="ancho">
           <p>Alto </p>
           <input type="text" class="alto">
            <br>
            <br>
            <div class="botones">
                <input type="submit" value="crear" class="crear">

                <input type="button" value="cerrar" class="cerrar">
            </div>
           
        </div>

    <div class="contenedor">
        <div class="sala"></div>

        <div class="almacen">
            
        </div>

        
    </div>
{% endblock %}
