{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    <div class="page-content">
        <div id="centrao">
            {{form(form)}}
        </div>
    </div>
</div>

{% endblock %}